<h1>
  Hello my master
</h1>

  <form action="/admin" method="POST">

    <div class="form-group">
      <label>Give me what you got!</label>
      <input type="password" name="adminPassword" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">OK</button>

  </form>
