<h2>
  Please, give us feedback
</h2>

<form action="/contacts" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Your email</label>
    <input name="emailFeedback" type="email" class="form-control" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tell us what you feel</label>
    <textarea name="textFeedback" class="form-control" rows="10"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Send to us</button>

</form>
